boto3==1.17.105
convertdate==2.4.0
cv==1.0.0
cycler==0.11.0
Cython==0.29.34
elementpath==2.2.3
ephem==4.1.4
Flask==2.2.3
holidays==0.22
joblib==1.2.0
matplotlib
numpy
opt-einsum==3.3.0
packaging==23.1
pandas
patsy==0.5.3
Pillow==9.4.0
ply==3.11
pmdarima==2.0.3
prophet==1.1.2
protobuf==3.19.6
pyasn1==0.4.8
python-dateutil==2.8.2
scikit-learn
scipy
seaborn
statsmodels==0.13.5


